<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style="color:#c84dcc">Hi {{name}}</h1>

    You have been invited to the <b>{{account_name}}</b> wedding planning group.<br>

    To accept this invite use the code <b>{{code}}</b> <br>

    or click the button below<br>
<br>
<a style="background-color:#c84dcc;padding:5px;color:white;text-decoration:none" href={{accept_url}}>Accept Invite</a><br><br>
<a style="background-color:#c84dcc;padding:5px;color:white;text-decoration:none" href={{decline_url}}>Decline Invite</a>


<p>
Warm regards,<br>
The Weddylist Committee
</p>
</body>
</html>
